body{
    background: url(img/bgimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  /* Fixed sidenav, full height */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.527);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 1s;
    
  }


  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    margin-top: -24px;
    margin-bottom: -10px;
    transform: scale(.8);
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
    margin-top: 7px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .head-menu{
    text-align: center;
    color: white;
    height: 100px;
    margin-top: -27px;
    text-shadow: 2px 2px 10px black;
    letter-spacing: 1px;
    height:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateY(-7px);
    border-radius: 5px;
    
  }
  .head-menu h2{
    text-align: center;
    align-items: center;
    transform: translateY(-3px);
  }
  header{
    background: #262626;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  
  }
  .headerk{
    background: rgba(0, 0, 0, 0.616);
    position: fixed;
    width: 86%;
    height: 100px;
    left: 200px;
    top: 0;
    display: flex;
    transition: 1s;
    z-index: 2;
  }
  .logo{
    height: 150px;
    width: 180px;
    margin-left: 30px;
    position: relative;
    margin-top: -25px;
    transform: scale(2);
  }
  .logo img{
    position: relative;
    height: 100%;
    width: 100%;
   

  }

  .search-area{
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 25px;
    margin-left: 8%;
    /* width: 41%; */
    height: 50px;
    border-radius: 30px;
    border: 3px solid rgba(128, 128, 128, 0.021) ;
    background: rgba(128, 128, 128, 0.295);
  }
  .search-area input{
    width: 450px;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: none;
    z-index: 1;
    background: rgba(128, 128, 128, 0.11);
  }

  .search-area input::placeholder{
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
  }
    .bi-search{
    border-radius: 40px;
    text-align: center;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: white;
}
.contect-element{
    display: flex;
    text-align: center;
    position: absolute;
    margin-top: 14px;
    float: right;
    right: 20px;
}
.element1 i{
    align-items: center;
    text-align: center;
    font-size: 27px;
    color: grey;
    text-shadow: 2px 2px 10px black;
}
.element1{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.element1 span{
    text-shadow: 2px 2px 10px black;
    color: grey;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 8px;
    font-size: 14px;
}
.element2 i{
  align-items: center;
  text-align: center;
  font-size: 27px;
  color: grey;
  text-shadow: 2px 2px 10px black;
  display: none;
  cursor: pointer;
}
.element2{
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}
.element2 span{
  font-size: 14px;
  text-shadow: 2px 2px 10px black;
  color: grey;
  font-weight: bolder;
  letter-spacing: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 8px;
  display: none;
}

.element3 i{
  align-items: center;
  text-align: center;
  font-size: 27px;
  color: grey;
  text-shadow: 2px 2px 10px black;
  display: none;
  cursor: pointer;


}
.element3{
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
transform: translateX(10px);

}
.element3 span{
  font-size: 14px;
  text-shadow: 2px 2px 10px black;
  color: grey;
  font-weight: bolder;
  letter-spacing: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 8px;
  display: none;
}

/* .banner{
    position: absolute;
    left: 200px;
    top: 100px;
    width: 86%;
    height: 83vh;
    background: black;
}
.banner img{
    object-fit: cover;
    height: 100%;
    width: 100%;
} */
.allcontext{
    position: absolute;
    height: 200%;
    width: 86%;
    left: 200px;
    top: 100px;
    transition: 1s;
}

.heading-category h1{
 color: white;
 text-align: center;
 align-items: center;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 letter-spacing: 5px;
 text-decoration: underline;
 text-shadow: 2px 2px 10px black;

}

.main-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card-category{
    background: rgba(0, 0, 0, 0.233);
    width: 360px;
    height: 170px;
    border-radius: 5px;
    margin: 10px;

}
.card-img-cate{
    height: 100px;
    width: 100px;
     position: relative;
     display: flex;
     align-items: center;
     text-align: center;
     transform: translateX(130px)translateY(20px);

}
.card-img-cate img{
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.card-heading h4{
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 10px black;
    color: grey;
    font-size: 19px;
    transform: translateY(4px);
}
.cate-search {
    text-align: center;
    align-items: center;
    display:  flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 200px;
    background: rgba(255, 255, 255, 0.137);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.315);
    border-radius: 51px;
    text-align: center;
    cursor: pointer;
}
.cate-search input{
    border-radius:5px ;
    border: none;
    width: 150px;
    background: transparent;
}
.cate-search input::placeholder{
    text-align: center;
    letter-spacing: 2px;

}
.banner::before{
    content: "";
    position: absolute;
    height: 80vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.507);
    z-index: 1;
}


.banner{
    position: relative;
    height: 80vh;
    width: 100%;
     animation: banner1 20s infinite; 
     box-shadow: 2px 2px 10px black;
}
.banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}


@keyframes banner {
    0%{
        opacity: 1;
     }
     10%{
         opacity: 1;
      }
      20%{
         opacity: 1;
      }
      30%{
         opacity: 1;
      }
      40%{
         opacity: 0;
      }
      50%{
         opacity: 0;
      }

      60%{
        opacity: 0;
     }
     60%{
        opacity: 0;
     }
     100%{
         opacity: 0;
     }
}






.logoaaa{
  display: none;
}
.contect-elementss{
  display: none;
}
.asdsa i {
  color: white;
  margin-top: -30px;
}
.asdsa{
  margin-top: -30px;
  float: right;
  display: none;
}




.category-name-main{
display: flex;
flex-wrap: wrap;
justify-content: center;
justify-content: space-around;
position: relative;
margin-top: 20px;
}
.category-name{
  margin-top: 30px;
  text-align: center;
  align-items: center;
  width: 360px;
}
.category-name h3{
  color: white;
  font-weight: 700;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  letter-spacing: 8px;
  text-align: center;
  align-items: center;
  margin-top: -1px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.377);
  border-radius: 20px;

}

.heading-cate h1{
  background: rgba(0, 0, 0, 0.377);
  text-decoration: underline;
  text-align: center;
  padding: 10px;
  width: 360px;
  border-radius: 10px;
  color: aliceblue;
}


.heading-cate{
  margin-top: 70px;
}

.all-product-area{
  width: 95%;
  height: 95%;
display: flex;
flex-wrap: wrap;
margin-top: 10px;
box-shadow: 2px 2px 30px black;

}
.product-area{
  width: 100%;
  height: 300px;
  display: flex;
  border: 1px solid black;

}
.main-img{
  border: 1px solid white;
  height: 100%;
  width: 28%;
  position: relative;
  text-shadow: 2px 2px 10px black;
  opacity: .8;
}


.main-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product-content{
  height: 100%;
  width: 80%;
  position: relative;
  margin-top: -25px;
}
.product-imgs{
  height: 55px;
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  
}
.product-small-img{
  border: 1px solid black;
  height: 55px;
  width: 80px;
margin: 5px 10px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.342);
opacity: .8;

}
.product-small-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 
}


.product-price span{
  font-size: 19px;
  color: #ffffff;
  font-weight: 800;
  margin-left: 10px;
  letter-spacing: 3px;
  margin-top: 90px;
  text-shadow: 2px 2px 30px rgb(0, 0, 0);
}

.product-name h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 5px;
  margin-left:10px ;
  text-shadow: 2px 2px 30px rgba(255, 255, 255, 0.555);
  color: white;
  margin-top: 60px;

}
.product-discription p{
  margin-left: 10px;
  text-shadow: 2px 2px 10px black;
  color: rgb(201, 199, 199);
  margin-top: 10px;
}































  /* _________________________________________responsiveness______________________________________ */
  @media(max-width:1220px){

    .element1{
      font-size: 10px;
    }
    .element2{
      font-size: 10px;
    }
    .contect-element{
     
      right: 40px;
    }
    .search-area {
      position: relative;
      align-items: center;
      display: flex;
      margin-top: 25px;
      margin-left: 2%;
      width: 41%;
      height: 50px;
      border-radius: 30px;
      border: 3px solid rgba(128, 128, 128, 0.021);
      background: rgba(128, 128, 128, 0.295);
    
    }
  }
  @media(max-width:1088px){


    .element1{
      font-size: 9px;
    }   .element2{
      font-size: 9px;
    }
    .contect-element{
      right: 30px;
      transform: scale(.8);
    }
    .search-area {
      position: relative;
      align-items: center;
      display: flex;
      margin-top: 25px;
      margin-left: 2%;
      width: 41%;
      height: 50px;
      border-radius: 30px;
      border: 3px solid rgba(128, 128, 128, 0.021);
      background: rgba(128, 128, 128, 0.295);
      transform: scale(.9);
    }
    .main-img{
      border: 1px solid white;
      height: 100%;
      width: 40%;
      position: relative;
      text-shadow: 2px 2px 10px black;
    }
    .product-content {
      height: 90%;
      width: 80%;
      position: relative;
      margin-top: -25px;
      transform: scale(.9);
    }
  }


 @media(min-width:900px) and (max-width:49000px){
    body{
        overflow-x: hidden;
    }
 }

 @media(max-width:900px){
  .asdsa{
    cursor: pointer;
  display: block;
}
  .contect-element{
    right: 0px;
    transform: scale(.9);
    top: 10px;
  }
  .element2 i{
    display: block;
  }
  .element1 span{
    display: NONE;
  }
  .element2 span{
    display: NONE;
  }
 .sidenav{
  transform: translateX(-300px);
  background: black;
  z-index: 10;
 }
 .sidenav a, .dropdown-btn{
  color:white;
 }
 .sidenavasdasd {
 
  transform: translateX(0px);
}
 .headerk {
  background: rgba(0, 0, 0, 0.616);
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
}
.allcontext {
  position: absolute;
  background: #26262663;
  height: 200%;
  width: 100%;
  left: 0;
  top: 100px;
}
}

@media(max-width:774px){
  .contect-element {

     
      right: 10px;
      transform: scale(.8);
    
  }

  .search-area {
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 25px;
    margin-left: 2%;
    width: 46%;
    height: 50px;
    border-radius: 30px;
    border: 3px solid rgba(128, 128, 128, 0.021);
    background: rgba(128, 128, 128, 0.295);
    transform: scale(.86);
  }
  .card-category {
    background: rgba(0, 0, 0, 0.233);
    width: 200px;
    height: 130px;
    border-radius: 5px;
    margin: 10px;
  }
  .card-img-cate {
    height: 70px;
    width: 70px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateX(70px)translateY(17px);
  }

  .card-heading h4 {
    text-align: center;
    letter-spacing: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 10px black;
    color: grey;
    font-size: 11px;
    transform: translateY(14px);
  }
  .heading-category h1 {
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    text-decoration: underline;
    text-shadow: 2px 2px 10px black;
    font-size: 21px;
  }
  .cate-search {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 160px;
    height: 30px;
    background: rgba(255, 255, 255, 0.137);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.315);
    border-radius: 51px;
    text-align: center;
    cursor: pointer;
  }
  .cate-search input{
    border-radius:5px ;
    border: none;
    width: 150px;
    background: transparent;
}
.cate-search input::placeholder{
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;

}
.sadas{
  margin-left: -13px;
}
}

@media(max-width:658px){

  .product-content {
    height: 90%;
    width: 80%;
    position: relative;
    margin-top: -25px;
    transform: scale(.8);
  }
  .search-area {
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 25px;
    margin-left: -10px;
    width: 46%;
    height: 50px;
    border-radius: 30px;
    border: 3px solid rgba(128, 128, 128, 0.021);
    background: rgba(128, 128, 128, 0.295);
    transform: scale(.7);
  }
  .logo {
    height: 60px;
    width: 110px;
    margin-left: 10px;
    position: relative;
    margin-top: 20px;
  }
 
  .contect-element{
    right: 0px;
    transform: scale(.7);
    top: 10px;
  }
  .element2 i{
    display: block;
  }
  .element1 span{
    display: NONE;
  }
  .search-area i{
    font-size: 10px;
  }

}
@media(max-width:610px){

  .product-name h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    margin-left: 10px;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.555);
    color: white;
    font-size: 30px;
  }
  .product-discription p {
    margin-left: 10px;
    text-shadow: 2px 2px 10px black;
    color: white;
    font-size: 15px;
  }
  
  .product-price span {
    font-size: 15px;
    color: #ffffff;
    font-weight: 800;
    margin-left: 10px;
    letter-spacing: 3px;
    margin-top: -10px;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    -webkit-text-stroke: 1px grey;
  }
}

@media(max-width:446px){
  .main-img {
    border: 1px solid white;
    height: 100%;
    width: 80px;
    position: relative;
    text-shadow: 2px 2px 10px black;
  }
  .main-img{
    border: 1px solid white;
    height: 100%;
    width: 45%;
    position: relative;
    text-shadow: 2px 2px 10px black;
  }
  .product-content {
    height: 90%;
    width: 55%;
    position: relative;
    margin-top: -35px;
    transform: scale(.74);
    margin-left: -20px;
  }
  .product-discription p {
    margin-left: 10px;
    text-shadow: 2px 2px 10px black;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
  }
  
  .product-imgs{
    transform: scale(.9);
    margin-left: -15px;
  }
 
  .search-area input{
  display: none;
  }
  .search-area  .bi-search{
    display: none;
    }
  .search-box{
    display: block;
  }

  .search-area {
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 25px;
    margin-left: -10px;
    width: 46%;
    height: 50px;
    border-radius: 30px;
    border: 3px solid rgba(128, 128, 128, 0.021);
    background: rgba(128, 128, 128, 0.295);
    transform: scale(.7);
  }
  .search-area {
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 25px;
    margin-left: -10px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: transparent;
    background:transparent;
    transform: scale(.7);
  }
  .contect-element{
    right: 0px;
    transform: scale(.6);
    top: 10px;
  }
  .element2 i{
    display: block;
  }
  .element3 i{
    display: block;
  }
  .element1 span{
    display: NONE;
  }
  
  .fa-times{
    margin-left: -30px;
  }
}
@media(max-width:396px){

  .product-discription p {
    margin-left: 10px;
    text-shadow: 2px 2px 10px black;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
  }
  .product-imgs {
    transform: scale(.68);
    margin-left: -46px;
  }
  .product-name h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    margin-left: 10px;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.555);
    color: white;
    font-size: 22px;
  }
  .heading-cate h1 {
    background: rgba(0, 0, 0, 0.377);
    text-decoration: underline;
    text-align: center;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 25px;
   
  }
}
@media(max-width:346px){
  .product-discription p {
    margin-left: 10px;
    text-shadow: 2px 2px 10px black;
    color: white;
    font-size: 11px;
    letter-spacing: 2
  }
}


@media(max-width:300px){

  .contect-element{
    right: -30px;
    transform: scale(.5);
    top: 10px;
  }
  .element2 i{
    display: block;
  }
  .element1 span{
    display: NONE;
  }
  .product-area {
   transform: scale(.9);
  }
  .product-imgs {
    transform: scale(.7);
    margin-left: -47px;
  }
  .product-discription p {
    margin-left: 10px;
    text-shadow: 2px 2px 10px black;
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
  }
}
